/API_import.txt
/API_Users.txt
/DataLabelStudio
/Design concept for users.docx
/Giving ID to import and export in Label studio.docx
/Resizing of interface.docx
/tasks.json
/tasks2.json
/~$sign concept for users.docx
/~$sizing of interface.docx
/~$ving ID to import and export in Label studio.docx
/~WRL0003.tmp